/* font families  */

/* Space Mono  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    /* box-shadow: 1px 1px 1px 1px black; */
    margin-top: 0;
    transition: 1s;
}
/* light mode (main) css */
.spectator{
    font-family: 'Space Mono';
}
h1{
    font-family: Raleway;
    margin: 10px;
    text-align: center;
}
/* .blogpageiframe{ 
    margin: 10px;
 } */
p{
    font-family: poppins;
    color: black;
    margin: 20px;
    font-weight: 500;
    margin-top: 20px;
    text-align: left;
    font-size:18px
}
h2{
    font-family: Raleway;
    margin: 10px;
}

.navbar {display: fixed; width: 100%;}
/* light mode (main) css */
.spectator{
    font-family: 'Space Mono';
    display: inline;
}
.hover-message{
    background-color: rgb(252, 250, 250);
    font-family: poppins;
    font-weight: 550;
    display: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    width: fit-content;
}
.moon-dark{
    text-decoration: none;
    color: black;
}
.moon-dark:hover .hover-message{
    display: inline;
    position:absolute;
    z-index: 1;
    top: 20px;
    right: 15%;
}
/* menu function */
.menu {
    height: 100%;
    font-family: poppins;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.93);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    margin-left: 20px;
  }
  
  .menu a {
    padding: 8px;
    width: fit-content;
    text-decoration: none;
    font-size: 28px;
    color: #747474;
    display: block;
    transition: 0.4s;
  }
  
  .menu a:hover {
    color: black;
    opacity: 1;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
  
 /* menu function end   */
/* responsive design  */
@media  screen and (max-width: 700px) {
    body{
        width: 80%;
    }
}
@media screen and (max-width: 550px) {
    body{
        max-width: 99%;
    }

    h1{
        font-size: 25px;
        margin: 0;
    }
    p{
        font-size: 16px;
        margin: 0;
    }
    iframe {
        display: block;
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .menu a {
        font-size: 23px;
      }
    .menu .closebtn {
    font-size: 35px;
    top: 15px;
    right: 35px;
    }
}
/* dark mode css */
.darkMode{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s;
  }
  .darkMode p{
      color: white;
  }
  .darkMode .moon-dark{
    text-decoration: none;
    color: white;
}
.darkMode .hover-message{
    background-color: rgb(51, 51, 51);
    font-weight: 500;
}
.darkMode .menu {
    background-color: rgba(17, 17, 17, 0.93);
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
  }
  
  .darkMode .menu a {
    color: #b4b4b4;
  }
  
  .darkMode .menu a:hover {
    color: white;
    opacity: 1;
  }
  
  .darkMode .menu .closebtn {
    color: #b4b4b4;
  }
  .darkMode .sidebar{
      background-color: #0e0e0e;
  }
  .darkMode .sidebar a {color: rgb(255, 255, 255);}
  .darkMode .sidebar a:hover{color: rgb(191, 191, 178);}
/* dark mode css end*/
li{
    font-family: poppins;
    font-size: 18px;
}
.language-markup{
    font-size: 13px;
    line-height: 0.2em;
}
.sidebar{
  max-width: 200px;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 10px;
      border-radius: 15px;
}
.sidebar a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: poppins;
    transition: 1s;
}
.sidebar a:hover{color:#595252;}
@media screen and (max-width:700px){
    .sidebar{
        position: static;
    }
    .sidebar{font-size: 15px;}
}
/* code html div  */
div.scrollcode {
    overflow: auto;
    width: 100%;
    white-space: nowrap;
  }
  @media screen and (max-width: 350px){
    footer {font-size: 13px; padding: 1px;}
}  
footer {background-color: rgb(242, 242, 242); font-family: poppins;width: 100%; padding: 5px; position:static; bottom: 0; right: 0; left: 0;}

.darkMode footer{background-color: rgb(34, 34, 34);}

pre{
    overflow-y: hidden;
    overflow: auto;
    max-width: 100%;
}
@media screen and (max-width:300px){
    h1{font-size: 20px;}
    p{font-size: 15px;}
    iframe{margin: 0;}
    
}