/* font families  */

/* Space Mono  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* fascinate */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    max-width: 70%;
    /* box-shadow: 1px 1px 1px 1px black; */
    margin-top: 0;
    transition: 1s;
}
.navbar {display: fixed; width: 100%;}
.navbar a{color:black; text-decoration: none;}
/* light mode (main) css */
.spectator{
    font-family: 'Space Mono';
    display: inline;
}
.hover-message{
    background-color: rgb(242, 242, 242);
    font-family: poppins;
    font-weight: 550;
    display: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    width: fit-content;
}
.moon-dark{
    text-decoration: none;
    color: black;
}
.moon-dark:hover .hover-message{
    display: inline;
    position:absolute;
    z-index: 1;
    top: 20px;
    right: 15%;
}
/* menu function */
.menu {
    height: 100%;
    font-family: poppins;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.93);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .menu-content {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
    text-align: left;
    margin-left: 20px;
  }
  
  .menu a {
    padding: 8px;
    width: fit-content;
    text-decoration: none;
    font-size: 28px;
    color: #747474;
    display: block;
    transition: 0.4s;
  }
  
  .menu a:hover {
    color: black;
    opacity: 1;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
  
 /* menu function end   */

/* responsive design  */
@media  screen and (max-width: 850px) {
    body{
        max-width: 80%;
    }
    .moon-dark:hover .hover-message{
        /* display: inline; */
        position:absolute;
        top: 20px;
        right: 12%;
    }
}
@media screen and (max-width: 600px) {
    body{
        max-width: 90%;
    }

    h1{
        font-size: 25px;
    }
    p{
        font-size: 16px;
    }
    .moon-dark:hover .hover-message{
        position:absolute;
        top: 20px;
        right: 8%;
    }
    .blogpageiframe{
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .menu a {
        font-size: 23px;
      }
    .menu .closebtn {
    font-size: 35px;
    top: 15px;
    right: 35px;
    }
    .hover-message{
        right: 5px;
    }
}
/* dark mode css */
.darkMode{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s;
  }
  .darkMode p{
      color: white;
  }
  .darkMode h1{
      color: white;
  }
  .darkMode a{color: white;}
  .darkMode .moon-dark{
    text-decoration: none;
    color: white;
}
.darkMode .hover-message{
    background-color: rgb(51, 51, 51);
    font-weight: 500;
}
.darkMode .menu {
    background-color: rgba(17, 17, 17, 0.93);
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
  }
  
  .darkMode .menu a {
    color: #b4b4b4;
  }
  
  .darkMode .menu a:hover {
    color: white;
    opacity: 1;
  }
  
  .darkMode .menu .closebtn {
    color: #b4b4b4;
  }
  .darkMode .replace-txt-main{color: white;}

  .darkMode footer{background-color: rgb(34, 34, 34);}

/* dark mode css end*/
/* styling the blog card  */
.blog-card-main{
    /* border: 1px solid black; */
    max-height: 300px;
    max-width: 800px;
    display: flex;
    /* margin-bottom: 90px; */
    padding: 10px;
}
.blog-card-main img{
    height: auto;
    width: 50%;
    border-radius: 15px;
}
.container{
    padding: 15px;
}
.container h1{
    font-family: Inconsolata;
    margin-top: 0;
    padding-top: 0;
}
.container p{
    font-size: 15px;
    font-family: poppins;
} 
.container a{
    text-decoration: none;
    color: black;
}
.replace-txt-main {display: none;}
.blog-cards-main-replace{display: none;}

@media screen and (max-width: 600px){
    .blog-card-main{display: none;}
    .blog-cards-main-replace{display: block;}
}

.blog-cards{
    display: flex;
}
.card{margin: 10px; width: 50%;}
.card img{
    width: 100%;
    border-radius: 15px;
}
.card h1{font-family: Inconsolata; margin-top: 0; padding-top: 0; padding-bottom: 10px; margin-bottom: 0;}
.card p{font-family: poppins;}

.card .replace-txt {display: none;}

.card a{text-decoration: none; color: black;}

.card h1{font-size: 30px; font-family: fascinate;}
.blog-card-main {margin-bottom: 50px;}
.blog-card-main h1{font-family: fascinate; font-size: 40px;}

@media screen and (max-width: 600px){
    .blog-cards{display: block; margin: 0; padding: 0;}

    .blog-cards {padding: 5px; margin: 0;}

    .blog-cards-main-replace h1{margin-top: 10px;}

    .card{width: 100%;}

    footer {font-size: 13px; padding: 1px;}
}
@media screen and (max-width:350px) {
    .card .replace-txt {display: block; padding: 0; margin: 0;}
    .card h1{font-size: 20px;}
    .card p{display: none}
}
footer {background-color: rgb(242, 242, 242); font-family: poppins;width: 100%; padding: 5px; position:static; bottom: 0; right: 0; left: 0;}